@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.page-heading {
    @apply text-lg font-bold uppercase;
}

.event-card-box {
    @apply w-full grid grid-cols-2 gap-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5;
}

.event-card {
    @apply w-full;

    p {
        @apply text-tiny uppercase font-bold;
    }

    small {
        @apply text-default-500 truncate;
    }

    Image {
        @apply rounded-xl;
    }
}

.auth-error {
    @apply text-danger-500 text-sm
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.ProseMirror:focus {
    outline: none;
}
.tiptap {
    padding: 10px;
    @apply rounded-xl bg-foreground-100;

    /* List styles */
    ul {
        list-style: circle;
    }

    ol {
        list-style: decimal;
    }

    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    /* Heading styles */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
        margin-top: 2.5rem;
        text-wrap: pretty;
    }

    h1,
    h2 {
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem;
    }

    blockquote {
        border-left: 3px solid var(--gray-3);
        margin: 1.5rem 0;
        padding-left: 1rem;
    }

    hr {
        border: none;
        border-top: 1px solid lightgray;
        margin: 2rem 0;
    }
}

.is-active {
    @apply bg-foreground-100;
}